/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f0f0f0; /* Cor de fundo suave */
}

/* Tema claro */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Tema escuro */
body.dark-theme {
  background-color: #1a1a1a;
  color: #f1f1f1;
}

/* Estilos de cabeçalho */
header {
  text-align: center;
  padding: 1em;
  background-color: #3f51b5;
  color: #ffffff;
}

/* Estilos do botão de troca de tema */
.theme-toggle {
  text-align: right;
  padding: 1em;
}

.theme-toggle button {
  padding: 0.5em 1em;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 1em;
  border-radius: 5px;
}

/* Estilos para a lista de capítulos */
.button-container .bible-index {
  list-style-type: none; /* Remover os pontos das listas */
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* Espaçamento entre os itens da lista */
  padding: 1em;
}

/* Estilos dos itens da lista */
.bible-index li {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bible-index li a {
  text-decoration: none;
  color: #000;
}

.bible-index li:hover {
  background-color: #4CAF50;
  color: white;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  header h1 {
      font-size: 1.5em;
  }
  .theme-toggle {
      text-align: center;
  }

  .button-container {
      grid-template-columns: repeat(2, 1fr); /* Alterar para duas colunas em telas menores */
      padding: 0.5em;
  }
}
