/* Estilos globais */
body {
  --button-bg-color: #4CAF50;
  --button-text-color: white;
  --button-hover-bg-color: #45a049;
  --button-hover-text-color: white;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f0f0f0; /* Cor de fundo suave */
} /* End of .theme-toggle button styles */

/* Tema claro */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Tema escuro */
body.dark-theme {
  background-color: #1a1a1a;
  color: #f1f1f1;
}

/* Estilos de cabeçalho */
header {
  text-align: center;
  padding: 1em;
  background-color: #3f51b5;
  color: #ffffff;
}

/* Estilos do botão de troca de tema */
.theme-toggle {
  text-align: right;
  padding: 1em;
}

.theme-toggle button {
  padding: 0.5em 1em;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.theme-toggle button:hover {
  background-color: #45a049; /* Verde mais escuro */
}

/* Estilos para a lista de capítulos */
.button-container {
  padding: 1em;
}

.bible-index {
  list-style-type: none; /* Remover os pontos das listas */
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; /* Espaçamento entre os itens da lista */
  margin-inline: auto;
  max-width: 1280px;
}
/* Estilos para os botões */
button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #ddd;
  color: #333;
}
/* Estilos dos itens da lista */
.bible-index li {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #e0e0e0;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.bible-index li:hover {
  background-color: #d0d0d0; /* Cor de fundo mais escura ao passar o mouse */
}

.nav-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}